[package]
name = "butido"
version = "0.3.0"
authors = [
           "Christoph Prokop <christoph.prokop@atos.net>",
           "Matthias Beyer <mail@beyermatthias.de>",
          ]
edition = "2018"
license = "EPL-2.0"

description = "Linux package tool utilizing docker, postgres and toml"
homepage    = "https://github.com/science-computing/butido"
repository  = "https://github.com/science-computing/butido"
readme      = "README.md"
keywords    = ["docker", "postgres", "linux", "packaging", "packages"]
categories  = ["development-tools"]

[badges]
maintenance = { status = "passively-maintained" }

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow         = "1"
aquamarine     = "0.1"
ascii_table    = "^3.0.2"
atty           = "0.2"
bytesize       = "1"
chrono         = "0.4"
clap           = "=3.0.0-beta.2"
clap_generate  = "=3.0.0-beta.2"
colored        = "2"
config         = { version = "0.11", default-features = false, features = [ "toml" ] }
csv            = "1.1"
daggy          = { version = "0.8", features = [ "serde" ] }
dialoguer      = "0.10"
diesel         = { version = "~1.4.6", features = ["postgres", "chrono", "uuid", "serde_json"] }
diesel_migrations = "~1.4"
env_logger     = "0.9"
filters        = "0.4.0"
futures        = "0.3"
getset         = "0.1"
git2           = "0.15"
handlebars     = { version = "~4.3.5", features = ["no_logging"] }
human-panic    = "1"
humantime      = "2.1"
indicatif      = "~0.16.1"
indoc          = "1"
itertools      = "0.10"
lazy_static    = "1.4"
log            = "0.4"
parse-display  = "0.6"
pom            = "3"
ptree          = "0.4"
rayon          = "1.5"
regex          = "1"
reqwest        = { version = "0.11", features = [ "stream" ] }
resiter        = "0.4"
result-inspect = "0.2"
rlimit         = "0.8"
semver		   = { version = "1.0", features = [ "serde" ] }
serde          = "1"
serde_json     = "1"
sha-1          = "0.10"
sha2           = "0.10"
shiplift       = "0.7"
syntect        = "4.4"
tar            = "0.4.16"
terminal_size  = "0.2"
tokio          = { version = "1.0", features = ["macros", "fs", "process", "io-util", "time"] }
tokio-stream   = "0.1"
typed-builder  = "0.10"
unindent       = "0.1"
url            = { version = "2", features = ["serde"] }
uuid           = { version = "0.6", features = ["serde", "v4"] }
walkdir        = "2"
which          = "4"
xdg            = "2"

# Hard-code rand to 0.4.4
#
# Reason for this is this dependency chain:
# diesel -> uuid (0.6) -> rand (0.4)
# but rand 0.4.5 depends on fuchsia-cprng which has an unclear license
# rand 0.4.4 is yanked, rand 0.4.3 does not contain this dependency.
#
# We do not explicitely need this dependency, we just want to force cargo not to
# link against rand 0.4.5 because of this licensing issue.
#
# The proper solution for this would be to update "uuid" in diesel or
# to update "rand" in uuid 0.6.
#
# Upstream issue: https://github.com/rust-random/rand/issues/1071
rand = "=0.4.3"

# See https://github.com/bitvecto-rs/bitvec/issues/105#issuecomment-778570981
funty = "=1.1.0"

# Pin, because dialoguer pulls it in, but 1.4.x and newer has MSRV 1.51.0. With
# the pin here, we enforce the build to not use 1.4.0 or newer.
zeroize = ">=1.3.0, <1.6.0"

# In 0.8.30 of encoding_rs, they messed up the license information in the crate
# metadata. Thus, `cargo deny check licenses` fails.
# This is not a direct dependency of ours, so we need to make sure that the
# dependency is kept below 0.8.30.
# Make sure to remove this constraint as soon as possible.
encoding_rs = ">=0.8.0, <=0.8.32"

[dev-dependencies]
toml = "0.5"

